<h1 class="display-4">Customers</h1>

<hr>

<a class="btn btn-success mb-3" [routerLink]="[ '/customers/new' ]">Create new Customer</a>

<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Orders</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td><a href="mailto:{{customer.email}}">{{customer.email}}</a></td>
        <td><a href="tel:{{customer.phone}}">{{customer.phone}}</a></td>
        <td>{{customer.orders?.length || '0'}}</td>
        <td>
          <div class="btn-group btn-group-sm">
              <a class="btn btn-info" [routerLink]="[ '/customers/view/', customer.id ]">Details</a>
              <a class="btn btn-warning" [routerLink]="[ '/customers/update/', customer.id ]">Update</a>
              <a class="btn btn-danger" [routerLink]="[ '/customers/delete/', customer.id ]">Delete</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>