<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Service</th>
			<th>Due Date</th>
			<th>Customer</th>
			<th>Note</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let order of orders">
			<td>{{order.id}}</td>
			<td>{{order.service}}</td>
			<td>{{order.dueDate}}</td>
			<td>
				<a [routerLink]="[ '/customer/', order.customerId ]">{{order.customerId}}</a>
			</td>
			<td>{{order.note}}</td>
			<td>
				<div class="btn-group btn-group-sm">
						<a class="btn btn-info" [routerLink]="[ '/order/', order.id ]">Details</a>
						<a class="btn btn-warning" [routerLink]="[ '/order/update/', order.id ]">Update</a>
						<a class="btn btn-danger" [routerLink]="[ '/order/delete/', order.id ]">Delete</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>