<h1 class="display-4">Update Customer</h1>

<hr>

<a class="btn btn-outline-dark mb-3" [routerLink]="[ '/customers' ]">See all Customers</a>


<form id="putForm" name="putForm" #heroForm="ngForm" (ngSubmit)="putCustomer()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="customer.name" name="name" id="name" class="form-control" [value]="customer.name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="customer.email" name="email" id="email" class="form-control" [value]="customer.email" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" [(ngModel)]="customer.phone" name="phone" id="phone" class="form-control" [value]="customer.phone" required>
        </div>
    
        <input type="submit" class="btn btn-success btn-block btn-lg" value="Update">
    </form>